svg#logo
{
    height: 90%;
    padding-top: 10%;
}

article[data-uid="features"] td
{
    padding: 10px !important;
}

article[data-uid="features"] td:first-child
{
    width: 20%;
}

a[title="Issues"]:after,
a[title="Agile Board"]:after
{
    padding-left: 5px;
    position:relative;
    top:1px;
    display:inline-block;
    font-family:"Glyphicons Halflings";
    font-weight:200;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\e066"
}

.toc .nav > li > a[type=class],
.toc .nav > li > a[type=enum],
.toc .nav > li > a[type=struct],
.toc .nav > li > a[type=interface],
.toc .nav > li > a[type=namespace]
{
    display: flex;
}

.toc .nav > li > a[type=namespace]
{
    font-weight: bold !important;
}

.toc .nav > li > a[type=class]::before,
.toc .nav > li > a[type=enum]::before,
.toc .nav > li > a[type=struct]::before,
.toc .nav > li > a[type=interface]::before
{
    margin-right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 15px;
    color: white;
    font-family: monospace;
    height: fit-content;
    width: fit-content;
    text-transform: capitalize;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 2px;
}

.toc .nav > li > a[type=class]::before
{
    background-color: #a0b6e7;
    content:"c";
}
.toc .nav > li > a[type=enum]::before
{
    background-color: #9cdcf2;
    content:"e";
}
.toc .nav > li > a[type=struct]::before
{
    background-color: #828ead;
    content:"s";
}
.toc .nav > li > a[type=interface]::before
{
    background-color: #CCD7E3;
    content:"i";
}

h1 > span.type {
    text-transform: lowercase;
    font-weight: bold;
    font-size: medium;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    color: rgb(86,156,214);
}
