.gdx-picker
{
    position: absolute;
    background-color: #1E1E1F;
}
.gdx-picker-list
{
    border-color: rgb(236,236,236);
}
#gdx-picker-item-title
{
    margin-top: 3px;
    margin-left: 3px;
    -unity-font-style: bold;
}
#gdx-picker-item-description
{
    -unity-font-style: italic;
    margin-left: 5px;
    margin-top: 2px;
}