#gdx-project-settings-header
{
    margin-bottom: 12px;
    margin-left: 8px;
    margin-top: 1px;
}
#gdx-project-settings-content
{
    margin-left: 10px;
}

.gdx-big-title
{
    font-size: 19px;
    -unity-font-style: bold;
}
.gdx-medium-title
{

}
.gdx-small-title
{
    -unity-font-style: bold;
}
