###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
/**/changelog.md
/**/license.md
/**/security.md
/**/manual/contributing/code-of-conduct.md
/**/templates/gdx/partials/footer.tmpl.partial
/**/reports/**
!/**/reports/overview.md
!/**/reports/index.md
!/**/reports/toc.yml
_site
